.error{
   /* color: white;*/
    color: red;
 /* text-shadow: 2px 2px 4px yellow;
  font-family: "Lucida Console", Courier, monospace;*/
    font-size: 12px;
    height: 24px;
    text-align: center;
    /*border: 1px solid #fff;*/
}

.alert_bar{
    color: red;
    font-size: 13px;
    margin-left: 101px;

}
.change_msg{
    color: red;
    font-size: 13px;
    margin-left: 101px;

}