.error{
    color: white;
    font-size: 12px;
    height: 24px;
    text-align: center;
    /*border: 1px solid #fff;*/
}

.alert_bar{
    color: red;
    font-size: 13px;
    margin-left: 101px;

}
.change_msg{
    color: red;
    font-size: 13px;
    margin-left: 101px;

}