

.error{
    color: white;
    font-size: 13px;
    margin-left: 101px;

}

.alert_bar{
    color: red;
    font-size: 13px;
    margin-left: 101px;

}
.change_msg{
    color: red;
    font-size: 13px;
    margin-left: 101px;

}